*{margin: 0;padding: 0;color: #ffffff;
	font-weight:700;
	font-size: 100%;
	font-style: initial;
}

#context{
	width: 5000px;height: 3000px;
	background-image: linear-gradient(to top, #137474 10%, #330867 100%);
	/* border: 1px solid red; */
}

#storageimgdiv{  /*仓库图片*/
	 position: absolute; 
	 left:0px;
	 /* border: 1px solid red; */
	 background-color: black;
	 background:url(../img/qingfangku.png);
	 background-size:cover;
}
#topContext{
	height: 8%;
	width:100%;
}
#centextContext{
	/* border: 1px solid rgb(0, 255, 13); */
	height: 67%;
}
#rightContext{
	height: 67%;
}
#footContext{
	height: 25%;
	/* border: 1px solid rgb(238, 255, 0); */
	width:100%;
}
.pie{
	width: 10%;
	margin-top: 1%;
	margin-left: 1%;
	text-align: center;
	color: black;
}
.echarts-class{
	border: 1px solid rgb(0, 17, 255);
}
#echarts-1{
	height: 50%;
}
#echarts-2{
	height: 50%;
}
#echarts-3{
	height: 50%;
}